this is category {{model.name}}<br/>
{{#if model.hasChildren}}
    subcategories:
    <ul>
        {{#each category in subcategories}}
            <li>
              {{#link-to "category" category.id}}
                id:{{category.id}}&nbsp;name:{{category.name}}
              {{/link-to}}
            </li>
        {{/each}}
    </ul>
{{else}}
    products:<br/>
    {{outlet}}
{{/if}}
