<ul>
    {{#each product in model}}
        <li>
            {{#link-to "product" product.id}}
                <dt><img {{bind-attr src=product.image}} {{bind-attr alt=product.title}}"></dt>
                <dt>{{product.title}}</dt>
                <dd>{{product.description}}</dd>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
{{outlet}}